@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.chart {
  font-family: 'Roboto', sans-serif;
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(35px);
  background-color: rgba(255, 255, 255, 0.8);
}

.chart > svg{
  width: 800px;
}

.chartTitle {
  margin-bottom: 20px;
}

@media screen and (max-width:900px) {
  .chart{
    width: 78%;
    margin-right: 20;
  }

  .chart > svg{
    width: 250px;
  }
}
