*{
    margin: 0;
    padding: 0;
}

body{
    /* background-image: url('../Assets/bg.png'); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: center;
    font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
    width: 3px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    display: none;
}
   

::-webkit-scrollbar-thumb {
    background: #333; 
    border-radius: 10px;
    display: none;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #333; 
    display: block;
}

.toggle-menu-btn-outter-desk{
    display: none;
}

.toggle-menu-btn-desk{
    display:none;
}

.side-menu-desk{
    position: relative;
    backdrop-filter: blur(35px);
    background-color: rgba(255, 255, 255, 0.8);
    width: 370px;
    height: 100vh;
    box-sizing: border-box;
    padding: 30px 20px;
    position: fixed;
    /* margin-left: 20px; */
}

.side-menu-desk .top-section-desk{
    position: relative;
}

.side-menu-desk .top-section-desk .logo-desk,
.side-menu-desk .top-section-desk .icons-desk{
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: inline-block;
}
.side-menu-desk .top-section-desk .logo-desk img{
    max-width: 100%;
    max-height: 100%;
}

.side-menu-desk .logo-desk {
    height: 0;
    animation: ease 1s;
    display: none;
}

.side-menu-desk .top-section-desk .icons-desk .icon {
    max-width: 100%;
    max-height: 100%;
}

.side-menu-desk .top-section-desk .toggle-menu-btn-desk{
    color: #666;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.side-menu-desk .top-section-desk .toggle-menu-btn-desk{
    right: -10px;
}

.side-menu-desk .search-controller-desk{
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.side-menu-desk .search-controller-desk .search-btn-desk{
    width: 40px;
    height: 35px;
    position: absolute;
    background: transparent;
    border: 0;
    font-size: 20px;
    color: #666;
}

.side-menu-desk .search-controller-desk input[type=text]{
    
    border: 0;
    outline: none;
    background: #333;
    border-radius: 5px;
    display: block;
    margin: 20px 0;
    width: 80%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 40px;
    color: #666;
    width: 90%;
  /* max-width: 350px; */

  border: none;

  background-color: #f5f5f5;
  box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 0 1rem;
  
  transition: all 0.2s ease-in;
}
.side-menu-desk .search-controller-desk input[type=text]:hover {
    transform: translateY(-3px);
  }


.side-menu-desk .main-menu-desk .menu-item-desk{
    color: #333;
    text-decoration: none;
    font-size: 15px;
    display: block;
    font-weight: 600;
    cursor: pointer;
}

.side-menu-desk .main-menu-desk{
    margin: 5px 0;
    position: relative;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.side-menu-desk .main-menu-desk .menu-item-desk .menu-icon-desk{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
}

.side-menu-desk .main-menu-desk .menu-item-desk span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

/* .side-menu-desk .main-menu-desk .sub-menu-desk{
    color: #333;
    margin-left: 20px;
    border-left: 1px solid #666;
    box-sizing: border-box;
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-in;
}

.side-menu-desk .main-menu-desk .sub-menu-desk{
    max-height: 100%;
} */

.side-menu-footer-desk{
    width: 100%;
    background: #1eae98;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
}

.side-menu-footer-desk .avatar-desk{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
}

.side-menu-desk .side-menu-footer-desk .avatar-desk img{
    /* display: none; */
    max-width: 100%;
}

.side-menu-footer-desk .user-info-desk{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
}

/* .side-menu-desk .side-menu-footer-desk .user-info-desk{
    opacity: 1;
    width: 0;
    height: 0;
    overflow: hidden;
} */


.side-menu-footer-desk .user-info-desk h5{
    font-size: 14px;
    margin: 0px 0;
    letter-spacing: 1px;
}


.side-menu-footer-desk .user-info-desk p{
    font-size: 14px;
    letter-spacing: 1px;
}

.divider-desk{
    width: 100%;
    height: 1px;
    align-items: center;
    border-radius: 1px;
    background: #eee;
    
}

.container-desk{
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
    box-sizing: border-box;
}

.container-desk{
    margin-left: 0px;
}

.icons-desk{
  display: block;
  height: 100%;
  color: #eee;
}

.link{
    text-decoration: none;
    color: #fff;
}

.main-menu-desk button{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* max-width: 500px;
    min-width: 250px; */
    width: 80%;
    height: 40px;
    border: none;
    margin: .5rem 0;
    box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: #70edb9;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

@media screen and (max-width: 900px){
    
    .toggle-menu-btn-outter.inactive{
        display: block;
        margin: 20px;
        float: right;
    }
    
    .toggle-menu-btn-outter{
        display: none;
        margin: 0;
        padding: 0;
    }
    
    .toggle-menu-btn{
        display:block;
        float: right;
        position: absolute;
        margin: 0;
        padding: 0;
    }

    .side-menu{
        z-index: 99;
        position: fixed;
        backdrop-filter: blur(35px);
        background-color: rgba(255, 255, 255, 0.8);
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 30px 20px;
        transition-duration: 1000ms;
        transition-property: 300px;
        transition-timing-function: linear;
    }
    
    .side-menu.inactive{
        width: 0px;
        display: none;
        margin-left: 0px;
        transition: margin-left .2s ease-in;
        transition-duration: 1000ms;
        transition-timing-function: linear;
    }
    
    .side-menu .top-section{
        position: relative;
    }
    
    .side-menu.inavtive .top-section{
        display: none;
        margin-left: 0px;
        transition: margin-left .2s ease-out;
    }
    
    .side-menu .top-section .logo,
    .side-menu .top-section .icons{
        width: 40px;
        height: 40px;
        overflow: hidden;
        display: inline-block;
    }
    .side-menu .top-section .logo img{
        max-width: 100%;
        max-height: 100%;
    }
    
    .side-menu.inactive .logo {
        height: 0;
        animation: ease 1s;
        display: none;
    }
    
    .side-menu .top-section .icons .icon {
        max-width: 100%;
        max-height: 100%;
    }
    
    .side-menu .top-section .toggle-menu-btn{
        color: #666;
        font-size: 20px;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        cursor: pointer;
    }
    
    .side-menu.inactive .top-section .toggle-menu-btn{
        right: -10px;
    }
    
    .side-menu .search-controller{
        color: #fff;
        position: relative;
    }
    
    .side-menu .search-controller .search-btn{
        width: 40px;
        height: 35px;
        position: absolute;
        background: transparent;
        border: 0;
        font-size: 20px;
        color: #666;
    }
    
    .side-menu .search-controller input[type=text]{
        border: 0;
        outline: none;
        height: 35px;
        background: #333;
        border-radius: 5px;
        display: block;
        margin: 20px 0;
        width: 100%;
        box-sizing: border-box;
        padding-left: 40px;
        color: #666;
        width: 100%;
      /* max-width: 350px; */
    
      border: none;
    
      background-color: #f5f5f5;
      box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: 0 1rem;
      transition: all 0.2s ease-in;
    }
    .side-menu .search-controller input[type=text]:hover {
        transform: translateY(-3px);
      }
    
    
    .side-menu .main-menu .menu-item{
        color: #333;
        text-decoration: none;
        font-size: 15px;
        display: block;
        font-weight: 600;
        cursor: pointer;
    }
    
    .side-menu .main-menu .menu-item.active{
        background: #333;
        border-radius: 5px;
        color: #fff;
    }
    
    
    .side-menu .main-menu{
        margin: 5px 0;
        position: relative;
        max-height: 600px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    /* not required any more */
    .side-menu.inactive .main-menu{
       display: none;
    }
    
    .side-menu .main-menu .menu-item .menu-icon{
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }
    
    .side-menu .main-menu .menu-item span{
        position: absolute;
        display: inline-block;
        line-height: 40px;
        opacity: 1;
        transition: opacity .2s ease-in;
    }
    
    .side-menu.inactive .main-menu .menu-item span{
        opacity: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        display: none;
    }
    
    .side-menu .main-menu .sub-menu{
        color: #333;
        margin-left: 20px;
        border-left: 1px solid #666;
        box-sizing: border-box;
        padding-left: 30px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .2s ease-in;
    }
    
    .side-menu .main-menu .sub-menu.active{
        max-height: 100%;
    }
    
    .side-menu .main-menu .sub-menu a{
        display: block;
        margin: 5px 0;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #333;
        box-sizing: border-box;
        padding: 5px;
    }
    
    .side-menu .main-menu .sub-menu a.active{
        background: #222;
        display: block;
        
        border-radius: 5px;
        color: #fff;
    
    }
    
    .side-menu-footer{
        width: 100%;
        background: #1eae98;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 20px;
        box-sizing: border-box;
    }
    
    .side-menu-footer .avatar{
        width: 40px;
        height: 40px;
        overflow: hidden;
        border-radius: 50%;
        display: inline-block;
    }
    
    .side-menu.inactive .side-menu-footer .avatar img{
        display: none;
        max-width: 100%;
    }
    
    .side-menu-footer .user-info{
        display: inline-block;
        margin: 0 10px;
        color: #fff;
        position: absolute;
        opacity: 1;
        transition: opacity .2s ease-in;
    }
    
    .side-menu.inactive .side-menu-footer .user-info{
        opacity: 1;
        width: 0;
        height: 0;
        overflow: hidden;
    }
    
    
    .side-menu-footer .user-info h5{
        font-size: 15px;
    }
    
    
    .side-menu-footer .user-info p{
        font-size: 14px;
    }
    
    .divider{
        width: 100%;
        height: 1px;
        align-items: center;
        border-radius: 1px;
        background: #eee;
        
    }
    
    .container{
        margin-left: 0px;
        transition: margin-left .2s ease-in;
        padding: 00px;
        box-sizing: border-box;
    }
    
    .container.inactive{
        margin-left: 0px;
    }
    
    .icons{
      display: block;
      height: 100%;
      color: #eee;
    }
    
    .link{
        text-decoration: none;
        color: #fff;
    }
    
    .main-menu button{
        justify-content: space-evenly;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 350px;
        min-width: 250px;
        height: 40px;
        border: none;
        margin: .5rem 0;
        box-shadow: 0px 14px 9px -15px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        background-color: #70edb9;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.2s ease-in;
    }
}

