@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.widgetSm{
    font-family: 'Roboto', sans-serif;
    width: 50%;
    flex: 1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 35px;
    margin-right: 20px;
    backdrop-filter: blur(35px);
  background-color: rgba(255, 255, 255, 0.8);
}

.widgetSmTitle{
    font-size: 22px;
    font-weight: 600;
}


.widgetSmList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.widgetSmListItem{
    display: flex;
    align-items: center;
    
    margin: 20px 0px;
}

.widgetSmUser{
    display: flex;
    flex-direction: column;
}

.widgetSmUsername{
    font-weight: 600;
}

.widgetSmUserTitle{
    font-weight: 300;
}

@media screen and (max-width: 900px){
    .widgetSm-m{
        width: 80%;
    }
}